dota/details.json
dota/history.json
__pycache__/
*.pyc
build/
dist/
data/
dota.egg-info/
.key
dota/tests/.key.json
examples/.ipynb_checkpoints/
examples/*.json
examples/*.csv
examples/details/
data/*
data

.ipynb_checkpoints/
.pypirc

*~

dota/pro_match_ids.txt
*.sublime-workspace
*.sublime-project
